# 함수

y=f(x) x는 인자(input), y는 결과값(output)

def function(parameter)<br>
실행문1<br>
실행문2<br>
...
return output

In [5]:
def func1(): #인자가 없는 함수를 선언
    print ("hello")

In [3]:
func1()

hello

In [8]:
def func2(arg1,arg2):
    print("hello",arg1)
func2("jaa","aa")

hello jaa

In [17]:
def awe_sum(a,b):
    result = a + b #지역변수- 함수 안에서 선언된 변수 
    return result

a = 1 #젼역변수 - 함수 밖에서 선언된 변수
print(awe_sum(2,3))

5

In [12]:
a

1

# 함수 안에 들어가 있는 변수는 지역변수이기 때문에 본래의 a를 변경하지 못한다.

In [18]:
def print_hello():
    return "hello"
result_hello = print_hello()
print(result_hello)

hello

In [ ]:
def func_wo_return(a):
    print("This is function without return for " + str(a) + " times.")
func_wo_return(1)

# 문자열을 붙이고 싶을때는 문자열+문자열을 사용한다

# 함수 (function with multiple return)
def mul_return(a):<br>
b = a + 1<br>
return a,b<br>
## 원래 프로그래밍언어에서는 return 값을 하나밖에 return 하지 못하지만, Python에서는 '튜플(tuple)'이라는 자료형을 활용하여 2개이상의 return 값을 반환 받을 수 있다.

In [20]:
# 함수 (function with multiple return)
def mul_return(a):
    b = a + 1
    return a,b

In [21]:
mul_return(1)

(1, 2)

-> (1,2)는 하나의 변수이며, 튜플 자료형에 속한다.

# 함수 (자주 사용하는 return 사용법)
## 함수 내에서는 return 을 만나면 바로 종료가 되기 때문에 그 특성을 활용하여 프로그래밍 하는 방법

In [25]:
def id_check(id):
    if id == "admin":
        print("invalid id: admin") 
        return #admin이라면 여기서 바로 종료 
print("valid id: ", id) #admin이 아니라면 if 문 들어가지 않고 여기로 바로 옴

valid id:  <built-in function id>

In [24]:
id_check("admin")

invalid id: admin

# 데이터 구조 (튜플)

* 선언 + 입력 = (1,2,3,4) or data_tuple=tuple()
* 읽기 -> 리스트와 동일하게 읽을수 있음 ex) data[0]
* 추가 불가능 
* 삭제 불가능 
* 수정 불가능 
* 함수의 return 값은 하나인데, 파이썬에서만 2개이상 전달 가능(튜플)

In [1]:
data= (1,2,3)
type(data)

tuple

In [2]:
data[0]

1

In [3]:
data2= (4,5,6)

# 튜플과 튜플끼리 덧셈이 가능하다.

In [4]:
data+data2

(1, 2, 3, 4, 5, 6)

In [5]:
data3= data+data2

In [6]:
data3

(1, 2, 3, 4, 5, 6)

# 튜플과 자연수끼리 곱셈이 가능하다.

In [7]:
data3*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

# 튜플은 뺄셈과 나눗셈은 불가능하다.

# tuple 덕분에 변수끼리 값을 편하게 바꿀 수 있습니다.
## ex) x,y=y,x -> 파이썬에서 튜플로 인식한다.

In [9]:
x=1 
y=2 
x,y=y,x #튜플로 인식한다. 
print (x,y)

2 1

# tuple 덕분에 함수에서 하나 이상의 값을 반환할 수도 있습니다.

In [12]:
def quot_and_rem(x,y):
    quot = x // y
    rem = x % y
    return quot, rem

quot, rem = quot_and_rem(3,10)

In [13]:
print (quot)
print (rem)

0
3

# 리스트와 튜플은 변환이 가능하다.

In [14]:
data1=(1,2,3)

In [16]:
data1_list=list(data1)

In [17]:
type(data1_list)

list

In [18]:
data1_tuple=tuple(data1_list)

In [19]:
type(data1_tuple)

tuple

In [20]:
print (data1_list, data1_tuple)

[1, 2, 3] (1, 2, 3)

# 데이터 구조 (딕셔너리)

* 선언 + 입력 = {}, dict(), 초기값과 함께 선언 ,변수명 = {키:값,키:값}
* 읽기: 변수명[키]
* 추가: 변수명[새로운 키] = '새로운 값'
* 삭제: del 변수명['삭제할 키']
* 수정: 변수명[수정할 키]=새로운 값

## 선언

In [21]:
data_dict={'한국':'kr','일본':'jp',}

In [23]:
data_dict['한국']

'kr'

## 삽입

In [24]:
data_dict['미국']='USA'

In [25]:
data_dict

{'한국': 'kr', '일본': 'jp', '미국': 'USA'}

## 삭제

In [26]:
del data_dict['한국']

In [27]:
data_dict

{'일본': 'jp', '미국': 'USA'}

## 수정

In [28]:
data_dict['미국']="America"

In [29]:
data_dict

{'일본': 'jp', '미국': 'America'}

## key를 활용해 value를 출력하는 법을 알아봅시다.<br>
print(dict1['korean'])<br>
## key만 출력하는 법을 알아봅시다.<br>
print(dict1.keys())<br>
## value만 출력할땐 이렇게 합니다.<br>
print(dict1.values())<br>
## key와 value를 함께 출력합니다.<br>
print(dict1.items())<br> -> 튜플형태로 나타난다.

In [30]:
data_dict.keys()

dict_keys(['일본', '미국'])

In [31]:
data_dict.values()

dict_values(['jp', 'America'])

In [33]:
for i in data_dict.keys():
    if i == "일본":
        print(data_dict["일본"])

jp

## data_list=list() # []
## data_tuple= tuple() # ()
## data_dic= dict() # {}
## data_set= set() # {}, 딕셔너리와 같이 때문에 보통 set()으로 선언한다.

# 데이터 구조 (집합 또는 set) 
-> 집합연산을 쉽게 진행
* 선언 + 입력 : 변수명= set(), 변수명= {'데이터1', '데이터2', ....}
* 수학 집합 연산을 쉽게 하기 위해 만든 자료형
* 순서없음 (인덱스 번호 없음)
* 중복없음 -> 이 특성때문에 많이 활용을 한다.
ex) 리스트에 중복된 데이터들을 삭제하기를 원할때, 집합으로 바꾸면 자동으로 중복을 제거해준다.

In [1]:
data_set = {'apple','dell','samsung','lg'}

In [2]:
type(data_set)

set

In [3]:
data_set

{'apple', 'dell', 'lg', 'samsung'}

# 집합도 반복문은 지원해 준다.

In [5]:
for i in data_set: 
    print (i)

dell
apple
samsung
lg

In [6]:
'xiaomi' in data_set

False

In [8]:
if 'apple' in data_set:
    print (data_set) # 전체집합을 출력하라.

{'dell', 'apple', 'samsung', 'lg'}

# 데이터 구조 (set)
* A = set('golang')
* B = set('python')
* A ∪ B == A | B #합집합
* A ∩ B == A & B #교집합
* A ‑ B == A - B # 차집합 
* A ∆ B == A ^ B # 교집합을 뺀 나머지

In [13]:
data1 = {'apple','samsung','lg'} # 스마트폰 
data2= {'samsung','apple','xiaomi'} #TV 생산업체

In [15]:
data1 and data2 #교집합 아님! 헷갈리지 말것

{'apple', 'samsung', 'xiaomi'}

In [16]:
data1 & data2 #&(그리고)을 써서, 교집합

{'apple', 'samsung'}

In [19]:
data1 | data2 # |(또는)을 써서, 힙집합

{'apple', 'lg', 'samsung', 'xiaomi'}

In [21]:
data1-data2 #차집합, 스마트폰만 생산하는 업체

{'lg'}

In [22]:
data1 ^data2

{'lg', 'xiaomi'}

In [23]:
data_list=['abc','kim','park','lee','abc','kim','choi']

In [24]:
data_set=set(data_list) #리스트를 집합에 assign

In [26]:
print (data_set) #중복된 단어를 제거해준다.

{'kim', 'park', 'abc', 'choi', 'lee'}

In [27]:
data_list= data_set #리스트에 집합을 assign

In [28]:
print (data_list)

{'kim', 'park', 'abc', 'choi', 'lee'}