## 3. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍3

### Exercise 31. 반복문
* 1 ~ 10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하세요.

In [2]:
sum = 0
for i in range(1,11):
    sum += i
    print (sum, i)

1 1
3 2
6 3
10 4
15 5
21 6
28 7
36 8
45 9
55 10

### Exercise 32. 반복문
* 사용자로부터 2 ~ 9 사이의 숫자를 입력 받은 후, 해당 숫자에 대한 구구단을 출력하세요.

In [4]:
a= int(input("당신이 알고싶은 구구단의 단을 입력하세요!:"))
# 조건문과 반복문을 함께 사용할 경우 
if a>0 and a<=9:
    for i in range (1,10):
        print (a,"*",i,"=",a*i)

당신이 알고싶은 구구단의 단을 입력하세요!:9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### Exercise 33.  반복문과 문자열 다루기 (split)
* 사용자로부터 , 로 구분된 여러 이름을 입력받아서, 한 줄에 하나씩 이름을 출력하세요<br>
  - 사용자 입력: Dave,David,Andy,Arthor
  - 출력 예:  <br>
    Dave <br>
    David <br>
    Andy <br>
    Arthor <br>

In [5]:
name_list= input(",로 구분하여 여러 이름을 입력하세요!:")
line= name_list.split(",")
for i in line: #리스트에 있는 값들을 i에 담아준다. 
    print (i)

,로 구분하여 여러 이름을 입력하세요!:David,Dave,Andy,Arthor
David
Dave
Andy
Arthor

### (틀림) Exercise 34.  반복문과 문자열 다루기 (split) -> 슬라이싱을 통해서 []를 제거하는 방법을 사용 
* 사용자로부터 [이름1],[이름2],[이름3] 과 같은 형식으로 데이터를 입력받아서, 한 줄에 하나씩 이름을 출력하세요<br>
  - 사용자 입력: [Dave],[David],[Andy],[Arthor]
  - 출력 예:  <br>
    Dave <br>
    David <br>
    Andy <br>
    Arthor <br>

In [7]:
name = input("[]안에 이름을 ,로 구분해서 여러명의 이름을 입력하세요:")
for i in name.split(","): #split 된것 자체가 리스트 이기 때문에 바로 for문에다가 대입 가능 
    print (i[1:-1]) #슬라이싱을 통해서 맨 끝:-1 을 없애준다.

[]안에 이름을 ,로 구분해서 여러명의 이름을 입력하세요:[Dave],[David],[Andy],[Arthor]
Dave
David
Andy
Arthor

### Exercise 35. 반복문과 조건문
* 1부터 30까지의 숫자 중 3의 배수만 출력하세요.

In [9]:
for i in range (1,31):#1이상 31미만
    if i % 3==0:
        print (i)

3
6
9
12
15
18
21
24
27
30

### Exercise 36. 반복문 (while)
* 1부터 100까지 숫자를 모두 더한 값을 출력하세요.
  - 단 while 구문을 사용해서 작성하세요.

In [10]:
sum =0
i=1 
while i<=100:
    sum += i
    i=i+1
print (sum)

5050

### Exercise 37. 반복문 (while)
* 사용자로부터 4자리의 숫자로 구성된 데이터를 입력받아서 
  + 비밀번호와 같으면 '비밀번호가 맞습니다.'를 출력하고 종료하세요. 
  + 비밀번호와 다르면 '비밀번호가 틀렸습니다.'를 출력하고 다시 사용자로부터 데이터를 입력받으세요.
    - 비밀번호는 4312 입니다.

In [28]:
password = []
while 1:
    password = input ("비밀번호 4자리를 입력하세요:")
    if password =="4312":
        print ("비밀번호가 맞습니다.")
        break
    else :
        print ("비밀번호가 틀렸습니다.")

비밀번호 4자리를 입력하세요:1234
비밀번호가 틀렸습니다.
비밀번호 4자리를 입력하세요:123
비밀번호가 틀렸습니다.
비밀번호 4자리를 입력하세요:4312
비밀번호가 맞습니다.

In [12]:
data = input()
while data != "4312":
    print("비밀번호가 틀렸습니다.")
    data=input() #비밀번호가 맞다면 while 문 탈출
print("비밀번호가 맞습니다.")

321
비밀번호가 틀렸습니다.
4312
비밀번호가 맞습니다.

### (틀림)Exercise 38. 데이터 구조와 반복문 (리스트)
* 다음 리스트 변수에서 음수 데이터를 삭제하고, 양수만 가진 리스트 변수로 만들고, 해당 변수를 출력하세요.

```python
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
```

In [15]:
new_list= list() # 양수 값을 담아줄 리스트, 새로운 리스트 선언 
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
for i in num_list:
    if i >= 0:
        new_list.append(i) #양수 값을 리스트에 추가해준다. 
print (new_list)

[0, 31, 22, 33]

### Exercise 39.  데이터 구조와 반복문 (리스트)
* 다음 리스트에 있는 데이터의 길이를 한 라인에 하나씩 출력하세요.

```python
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]
```

In [17]:
list_data = ["fun-coding", "Dave", "Linux", "Python", "javascript", "front-end", "back-end", "dataengineering"]
for i in list_data:
    print (len(i))

10
4
5
6
10
9
8
15

### Exercise 40. 데이터 구조와 반복문 (리스트)
* 다음 리스트에 있는 숫자를 역 방향으로 출력하세요.
  - 단, 리스트에 있는 숫자들은 한 라인에 하나씩 출력하세요.
```python
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
* 실행 예:<br>
10 <br>
9 <br>
8 <br>
7 <br>
6 <br>
5 <br>
4 <br>
3 <br>
2 <br>
1

In [23]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(0,10): #0이상 10미만
    print(data[9-i])

10
9
8
7
6
5
4
3
2
1

In [40]:
data =[1,2,3,4,5,6,7,8,9,10]
data.reverse() #역방향 정렬은 reverse, 정방향 정렬은 sort
for i in data:
    print (i)

10
9
8
7
6
5
4
3
2
1

### Exercise 41. 데이터 구조 (리스트), 반복문, 문자열 다루기
* 다음과 같이 파일 이름(확장자 포함) 저장하고 있는 리스트가 있을 때 확장자를 제거하고 파일 이름만 출력하세요.

```python
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']
```

In [26]:
remove_name=list()
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']
for i in filelist:
    line=i.strip(".docx")
    remove_name.append(line)
print (remove_name)

['exercise01', 'exercise02', 'exercise03', 'exercise04', 'exercise05']

In [42]:
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']
for i in filelist:
    print(i.split(".")[0])

exercise01
exercise02
exercise03
exercise04
exercise05

### Exercise 42. 데이터 구조 (리스트), 반복문, 조건문, 문자열 다루기
* 파일 이름이 다음과 같은 리스트에 저장되어 있을 때 확장자가 .txt 인 파일에 대한 리스트를 출력하라

```python
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']
```

In [43]:
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']
for i in filelist:
    if i.find(".txt")>0:
        print (i)

exercise03.txt

In [47]:
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']
for filename in filelist:
    if filename.split(".")[1] =="txt":
        print (filename)

exercise03.txt

### Exercise 43. 문자열 다루기와 조건문
* prices 변수에 100 ~ 999 달러 까지 입력될 때, 해당 값을 원 화로 바꿔서 계산하세요.

```python
prices = '100 달러'
```

* 환율은 다음과 같음
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
</tbody>
</table>

출력: <br>
111200 원

In [52]:
#내가 푼 풀이 
while 1: 
    price = input("달러를 입력하세요:")
    price=int(price.strip("달러"))
    if price >=100 and price <=999:
        print(price*1112,"원")
        break
    else :
        print("100~999달러 사이를 입력하시오")

달러를 입력하세요:100
111200 원

In [53]:
#강의 내용:리스트 슬라이싱을 통해서 간단히 해결 
prices=input("금액을 입력하세요:")
if prices[4:]=="달러":
    print(int(prices[:4])*1112,"원")

금액을 입력하세요:100 달러
111200 원

### Exercise 44. 문자열 다루기와 조건문
* 사용자로부터 달러 또는 위안 금액을 입력받은 후 이를 원으로 바꿔서 계산하세요.
  - 사용자는 100 ~ 999 달러, 100 ~ 999 위안 까지 입력 가능하고, 각 금액과 통화명 사이에 공백을 넣어 입력하기로 합니다.
  - 각 통화별 환율은 다음과 같습니다.   
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
<tr>
<td>위안</td>
<td>171</td>
</tr>
</tbody>
</table>


출력: <br>
111200 원

In [61]:
price=input("금액을 입력하세요:")
if price[4:]=="달러":
    print(int(price[:4])*1112,"달러")
elif price[4:] == "위안":
    print(int(price[:4])*171,"위안")

금액을 입력하세요:100 위안
17100 위안

### Exercise 45. 문자열 다루기, 조건문, 데이터 구조 (dictionary)
#### 딕셔너리 자료형 ex) dic={'key':'value'}로 나눈다. 여기서 반복문에서 key값만 가지고 와서 쓰는 경우는 for i in dic.keys()이다. 
* 다음 통화별 환율을 통화단위와 원화 환율을 가진 딕셔너리로 만들고 사용자로부터 달러, 엔, 또는 위안 금액을 입력받은 후 이를 원으로 바꿔서 계산하세요.
  - 사용자는 100 ~ 999 달러, 위안, 또는 엔 과 같이 금액과 통화명 사이에 공백을 넣어 입력하기로 합니다.
<table>
<thead>
<tr>
<th>통화단위</th>
<th>원화 환율</th>
</tr>
</thead>
<tbody>
<tr>
<td>달러</td>
<td>1112</td>
</tr>
<tr>
<td>위안</td>
<td>171</td>
</tr>
<tr>
<td>엔</td>
<td>1010</td>
</tr>
</tbody>
</table>

In [64]:
dic={'달러':1112,'위안':171,'엔':1010}
price = input ("금액을 입력하세요:")
for i in dic.keys(): # 딕셔너리의 키값을 추출 .keys()
    if price[4:]==i: #달러인지 위안인지 엔인지 
        print(int (price[:4])*dic[i],"원")

금액을 입력하세요:100 달러
111200 원

### Exercise 46. 이중 반복문
* 구구단을 2단부터 9단까지 다음과 같이 출력하세요
  - 출력 예
<pre>
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
.
.
.
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
</pre>

In [67]:
for i in range (2,10):
    for j in range(1,10):
        print (i,"*",j,"=",i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### Exercise 47. 이중 반복문과 조건문
* 구구단을 2단부터 9단까지 출력하되, 계산 값이 짝수인 경우에만 출력하세요
  - 예: 3 X 3 = 9 에서 9는 홀수이므로 출력하지 않는다.
  - 예: 2 X 4 = 8 에서 8은 짝수이므로 출력한다.
  - 최종 출력 예
<pre>
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72
</pre>

In [68]:
for i in range(2,10):
    for j in range(1,10):
        if (i*j)%2==0:
            print (i,"*",j,"=",i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 2 = 6
3 * 4 = 12
3 * 6 = 18
3 * 8 = 24
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 2 = 10
5 * 4 = 20
5 * 6 = 30
5 * 8 = 40
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 2 = 14
7 * 4 = 28
7 * 6 = 42
7 * 8 = 56
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 2 = 18
9 * 4 = 36
9 * 6 = 54
9 * 8 = 72

### Exercise 48. 이중 반복문과 데이터 구조 (리스트)
* 아파트 동호수를 다음과 같은 두 리스트 변수를 활용해서 출력하세요.
  - 단, 각 동과 동 사이에는 구분이 되도록 한 라인씩 띄워서 출력하세요

<pre>
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]
</pre>

  - 출력 예:
<pre>
6209동 101호
6209동 102호
6209동 103호
6209동 104호
</pre>
<pre>
6208동 101호
6208동 102호
6208동 103호
6208동 104호
</pre>
<pre>
6207동 101호
6207동 102호
6207동 103호
6207동 104호
</pre>

In [72]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]
for i in dongs:
    for j in hos:
        print (i,j)
    print("\n")

6209동 101호
6209동 102호
6209동 103호
6209동 104호


6208동 101호
6208동 102호
6208동 103호
6208동 104호


6207동 101호
6207동 102호
6207동 103호
6207동 104호